{% extends 'base.html' %}

{% block body %}
<div class="text-center">
<form class="jumbotron form-signin" action="" method="POST">
	<h1>Login</h1>
	{{ form.hidden_tag() }} <!-- Having this .hidden_Tag() funcion and a SECRET_KEY is config.py to have this form protected -->
	<div class="form-group">
		{{form.username.label}} <br>
		{{form.username(size=32)}}
		{% for error in form.username.errors %}
			<p><span style="color:red;">{{error}}</span></p>
		{% endfor %}
	</div>
	<div class="form-group">
		{{form.password.label}}<br>
		{{form.password(size=32)}}
		{% for error in form.password.errors %}
			<p><span style="color:red;">{{error}}</span></p>
		{% endfor %}
	</div class="form-check">
	<p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
	<div>{{ form.submit() }}</div>
</form>
<p>
	Forgot Your Password?
	<a href=" {{ url_for('auth.reset_password_request') }}" >Click to reset it</a>

</p>
</div>
{% endblock %}