{% extends 'base.html' %}

{% block body %}
<div class="jumbotron text-center">
	<h1> Welcome to WodGame </h1>
	<h3> Register and enjoy! </h3>
	{% if current_user.is_authenticated %}
	<h2>Hi {{current_user.username}} </h2>
		{% if form %}
			<form action="" method="POST">
				{{ form.hidden_tag() }}
				<p>
					{{ form.post.label }}<br>
					{{ form.post(cols=34, rows=4) }}<br>
					{% for error in form.post.errors %}
						<span style="color:red;" >[{{ error }}]</span>
					{% endfor %}
				</p>
				<p>{{ form.submit }}</p>
			</form>
		{% endif %}
	{% endif %}
	
	{% if current_user.is_anonymous %}
		<a href="{{url_for('auth.login')}}" class="btn btn-primary btn-lg">Login</a>
		<a href="{{url_for('auth.register')}}" class="btn btn-primary btn-lg">Register</a>
	{% endif %}
</div>

	{% if current_user.is_authenticated %}
		<table>
		{% for post in posts %}
				{% include '_post.html' %}
		{% endfor %}
		</table>
	{% endif %}

	{% if prev_url%}
		<a href="{{ prev_url }}">Newer Posts</a>
	{% endif %}

	{% if next_url %}
		<a href="{{ next_url }}">Older Posts</a>
	{% endif %}

{% endblock %}